<div class="container">
    {{!-- <header class="header">
        <h1>{{collection.name}}</h1>
        <p>API Documentation</p>
    </header> --}}

    <div class="sidebar">
        <h2>API Requests</h2>
        <ul class="nav-tree">
            {{#each collection.folders}}
                {{> folder}}
            {{/each}}
            {{#each collection.files}}
                <li><a href="#{{meta.name}}">{{meta.name}}</a></li>
            {{/each}}
        </ul>
    </div>

    <main class="main-content">
      {{#if collection.auth}}
        <h2>Authentication</h2>

        <div class="authentication">
          {{#eq collection.auth "basic"}}
              <p><a href="https://en.wikipedia.org/wiki/Basic_access_authentication" target="_blank">Basic Authentication</a></p>
          {{/eq}}
          {{#eq collection.auth "bearer"}}
              <p><a href="https://en.wikipedia.org/wiki/Bearer_token" target="_blank">Bearer Token Authentication</a></p>
          {{/eq}}
        </div>
      {{/if}}
        <h2>API Requests</h2>

        {{#each allRequests}}
          {{> request}}
        {{/each}}
    </main>

    <footer class="footer">
        <p>Generated on {{formatDate generatedAt}}</p>
    </footer>
</div>
