<li class="folder">
    <div class="folder-title">{{name}}{{#if files.length}} ({{pluralize files.length "request"}}){{/if}}</div>
    <ul class="folder-files">
        {{#each files}}
        <li><a href="#{{meta.name}}">{{meta.name}}</a></li>
        {{/each}}
        {{#each folders}}
            {{> folder}}
        {{/each}}
    </ul>
</li>
